<div aria-hidden="true" aria-labelledby="discardModalLabel" class="modal fade" id="cancelModal" role="dialog" tabindex="-1">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top">
                <button class="close" data-dismiss="modal" type="button">
                    <span class="close-modal-x"></span><span class="sr-only">Close</span>
                </button>
                <h2 class="modal__heading" id="myModalLabel">Cancel Interview?</h2>
            </div>
            <div class="modal__body">
                <p>Are you sure you want to cancel this interview? If so, you can still edit it and propose new times later.</p>
            </div>
            <div class="modal__footer">
                <button class="button button--secondary" data-dismiss="modal" type="button" id="modalNo">No, Don't Cancel</button>
                <button class="button button--error" data-dismiss="modal" type="button" id="modalYes">Yes, Cancel It</button>
            </div>
        </div>
    </div>
</div>