<div class="column--md--12">
    <div class="form__group mar--md--bn mar--md--tm">
        <label data-qa-label="fieldName">{{field.label}}</label>
        <div class="input-size">
            {{input type="checkbox" checked=field.value data-qa-input="checkbox"}}
        </div>
    </div>
</div>