<div class="column--md--6">
    <div class="form__group mar--md--bn mar--md--tm">
        <label data-qa-label="fieldName">{{field.label}}</label>
        {{date-picker value=field.value}}
        <small class="input-error-content"></small>
    </div>
</div>