<div class="column--md--12">
    <div class="form__group">
        <label class="required-field" data-qa-label="fieldName">
            {{field.label}}
            {{#if field.helpText}}
                <span data-toggle="tooltip" data-placement="bottom" title="" class="has-tooltip juicon juicon-info-circle" data-original-title="{{unbound field.helpText}}"></span>
            {{/if}}
        </label>
        {{textarea value=field.value data-qa-input="textarea"}}
    </div>
</div>