<div id="resume" class="wizardSection pad--sm--only--n active">
    <h1 class="text-left-center page__heading pad--sm--tm pad--md--tn pad--sm--bm">Resume</h1>
    <div class="panel">
        <div class="panel__body">
            <p class="mar--sm--tn">
                please upload your resume or select it from another source
                <div style="display:none;">
                    {{view "uploadFile" resumeFileName=resumeFileName base64fileData=base64fileData}}
                </div>
            </p>
            <div class="button-group inline-block float--left">
                <div class="button button--secondary" data-toggle="dropdown">Upload <span class="show-brkpoint--md">your</span> resume <span class="juicon juicon-upload"></span></div>
                <ul class="dropdown-menu">
                    <li class="dropdown-menu__list-item"><a href="#"><span class="juicon juicon-dropbox"></span> from Dropbox</a></li>
                    <li class="dropdown-menu__list-item"><a href="#"><span class="juicon juicon-google-drive"></span> from Google Drive</a></li>
                    <li class="dropdown-menu__list-item" {{action "clickUploadFromDevice"}}><a href="#"><span class="juicon juicon-upload"></span> from Device</a></li>
                </ul>
            </div>
            <span class="input-size inline-block float--left mar--sm--lm text-faded">
                {{#if resumeFileName}}
                    {{resumeFileName}}
                {{else}}
                    No file selected
                {{/if}}
            </span>
        </div>
    </div>
</div>