<div id="skills" class="wizardSection pad--sm--only--n active">
    <h1 class="text-left-center page__heading pad--sm--tm pad--md--tn pad--sm--bm">Skills</h1>

    <div class="content__section">
        {{select-2 value=selectedSkills options=allSkills}}
    </div>
</div>