{{#link-to "integration" id tagName="li" classNames="list-group__item setupNav__item" disabled=shouldDisableLink data-qa-button="custom"}}
    <a href="" class="setupNav__item__link" {{bind-attr disabled="shouldDisableLink"}}>
        {{name}}
    </a>
{{/link-to}}
