<div>
    <label>Equals</label>
    <div class="select__wrap">
        <div class="input__icon juicon juicon-down"></div>
        {{view "select" content=applicationSources value=source}}
    </div>
</div>