<div class="pad--sm--rm pad--sm--lm">
    <div class="row">
        <div class="column column--md--6">
            <label>From</label>
            {{date-picker value=appliedFrom name="appliedFrom" valueFormat="MM/DD/YYYY"}}
        </div>
        <div class="column column--md--6">
            <label>To</label>
            {{date-picker value=appliedTo name="appliedTo" valueFormat="MM/DD/YYYY"}}
        </div>
    </div>
</div>