<div class="js-field-group">
    <label>Equals</label>
    <div class="select__wrap">
        <div class="input__icon juicon juicon-down"></div>
        {{view "select" content=thresholds value=threshold}}
    </div>
</div>