<div>
    <div class="mar--sm--bm">
        <div class="form-group">
            <label>Stage</label>
            <div class="select__wrap">
                <div class="input__icon juicon juicon-down"></div>
                {{view "select" content=applicationStages value=stage}}
            </div>
        </div>
    </div>
    <div class="mar--sm--bn">
        <div class="form-group">
            <label>Status</label>
            <div class="select__wrap">
                <div class="input__icon juicon juicon-down"></div>
                {{view "select" content=applicationStatuses value=status}}
            </div>
        </div>
    </div>
</div>