<div class="pad--sm--rm pad--sm--lm">
    <div class="row input__group">
        <div class="column column--md--6 mar--sm--tm">
            {{input type="checkbox" checked=showHired}}<label>Hired</label>
        </div>
        <div class="column column--md--6 mar--sm--tm">
            {{input type="checkbox" checked=showWithdrew}}<label>Withdrew</label>
        </div>
        <div class="column column--md--6 mar--sm--tm">
            {{input type="checkbox" checked=showRejected}}<label>Rejected</label>
        </div>
        <div class="column column--md--6 mar--sm--tm">
            {{input type="checkbox" checked=noOutcome}}<label>No Outcome</label>
        </div>
    </div>
</div>