<a class="pad--sm--m">
    <h4 class="card__heading dots">{{application.First_Name__c}} {{application.Last_Name__c}}</h4>
    <h5 class="card__subheading dots">Interviews <span class="feedback-icon"><span class="juicon juicon-like"></span> 5</span><span class="feedback-icon"><span class="juicon juicon-dislike"></span> 2</span><span class="feedback-icon"><span class="juicon juicon-question-circle"></span> 0</span></h5>
</a>