<div aria-hidden="true" aria-labelledby="none" class="modal fade mar--sm--txl" id="share-modal" role="dialog" tabindex="-1">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top pad--sm--bm">
                {{!-- <button class="close" data-dismiss="modal" type="button">
                    <span class="close-modal-x"></span><span class="sr-only">Close</span>
                </button> --}}
                <h2 class="modal__heading" id="myModalLabel">Share Applicant List</h2>
            </div>
            <div class="modal__body">
                <label>Copy and paste this link in an email or IM:</label>
                {{input type="text" class="pad--sm--xs pad--sm--ls pad--sm--rs" value=shareUrl}}      

                {{#if hiringManager}}
                    <label class="block mar--sm--bn mar--sm--tm">Hiring Manager</label>
                    <div>{{hiringManager.Name}}</div>
                    <a {{bind-attr href="mailLink"}}>{{hiringManager.Email}}</a>
                {{/if}}    
            </div>
            <div class="modal__footer">
                <button class="button button--primary js-save" data-dismiss="modal" type="button">Done</button>
            </div>
        </div>
    </div>
</div>