<div class="content pad--sm--n">
    <div class="panel js-profile-panel mar--sm--tn">
        <div class="panel__top">
            <div class="float--left">
                <div class="part__body--fixed pad--sm--txs">
                    <h4 class="card__heading dots"><a href="#">Lynn Shaw</a></h4>
                    <h5 class="card__subheading dots" style="display: inline-block">Status: Application (In progress)&nbsp;<a href="#" class="js-status-button js-tooltip">Update</a></h5>
                </div>
            </div>
            <button type="button" class="button button--primary button--ghost mar--sm--only--ts width--full--sm--only js-feedback-button js-tooltip float--right-left">
                <span class="juicon juicon-chat"></span> Provide feedback
            </button>
        </div>
        <!-- Identity section only appears in sf1 -->
        <section id="identity1" class="part">
            <div class="panel__body pad--sm--bs">
                <div class="row">
                    <div class="column--md--6">
                        <small class="block dots mar--sm--bxs"><label>Source:</label> Internal</small>
                        <small class="block dots mar--sm--bxs"><label>Applied On:</label> Dec 10, 2015 @ 11:23 AM (<a href="#">2 more</a>)</small>
                        <small class="block dots mar--sm--bxs"><label>Employment:</label> Developer at Appiphony, LLC</small>
                    </div>
                    <div class="column--md--2">
                        <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-list" data-toggle="tooltip" title="Application Rating"></span></label> <span class="text-success">10</span> (out of 10)</small>
                        <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-like" data-toggle="tooltip" title="Positive Interview Feedback"></span></label> 1 Positive</small>
                        <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-dislike" data-toggle="tooltip" title="Negative Interview Feedback"></span></label> 0 Negative</small>
                        <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-question-circle" data-toggle="tooltip" title="Neutral Interview Feedback"></span></label> 0 Neutral</small>
                    </div>
                    <div class="column--md--4">
                        <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-envelope" data-toggle="tooltip" title="Email"></span></label> <a href="#">lynn.shaw@gmail.com</a></small>
                        <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-phone" data-toggle="tooltip" title="Phone"></span></label> Not requested</small>
                        <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-location" data-toggle="tooltip" title="Location"></label> <a href="http://maps.google.com" target="maps">Chicago, IL</a></small>
                    </div>
                </div>
            </div>
        </section>
        <section class="button-switch-container pad--sm--m pad--sm--bn">
            <span class="button-group--collapse button-switch">
                <div class="button button--success" data-trigger="application" data-group="view">Application</div>
                <div class="button button--success disabled" data-trigger="resume" data-group="view">Resume</div>
                <div class="button button--success disabled" data-trigger="linkedin" data-group="view">LinkedIn</div>
            </span>
        </section>
        <div class="mar--sm--tm">
            {{partial "applicationDetails"}}
        </div>
        <div class="hide">
            <section id="resume1">
                <div class="panel__body pad--sm--bs">
                    <iframe src="https://na24.salesforce.com/sfc/p/1a000000H6T7/a/1a000000KzDp/m5PDZy3HBGd2uEe2Vyyf5FQHQFj7Sy_4STJ5M8O5nV8"></iframe>
                </div>
            </section>
        </div>
        <div class="hide">
            <section id="linkedin1">
                <div class="panel__body pad--sm--bs">
                    <img src="../docs/linkedin-csa.png">
                </div>
            </section>
        </div>
    </div>
</div>