<div class="scope-container">
    <div class="content pad--md--ts pad--sm--only--n pad--sm--tm">
        <div class="wizardContent">
            <div class="alert alert--error mar--md--bm" data-qa-alert="errorMessage">
                {{{errorMessage}}}
            </div>
        </div>
    </div>
</div>