{{#aljs-modal modalId="oauthIntoGoogleModal"}}
    <modalHeader>
        <h2 class="slds-text-heading--medium" data-qa-label="googleCalendar">{{labels.googleCalendar}}</h2>
    </modalHeader>
    <modalBody>
        {{labels.toCompleteThisActionSignIntoGoogle}}
    </modalBody>
    <modalFooter>
        <button class="slds-button slds-button--neutral slds-button--brand" data-aljs-dismiss="oauthIntoGoogleModal" {{action "clickOauthIntoGoogle"}}>{{labels.continue}}</button>
    </modalFooter>
{{/aljs-modal}}