<div class="column--md--9 pad--sm--bm">
    <div id="candidate1" class="active">
        <div class="content pad--sm--n">
            <!-- Get markup below from Application Reader -->
            <div class="panel js-profile-panel mar--sm--tn">
                <div class="panel__top">
                    <div class="float--left">
                        <!--<div class="part__left--fixed avatar-container--md pad--sm--txs">
                            <img src="https://randomuser.me/api/portraits/med/women/69.jpg" alt=""/>
                        </div>-->
                        <div class="part__body--fixed pad--sm--txs">
                            <h4 class="card__heading dots"><a href="#">Lynn Shaw</a></h4>
                            <h5 class="card__subheading dots" style="display: inline-block">Status: Application (In progress)&nbsp;<a href="#" class="js-status-button js-tooltip">Update</a></h5>
                        </div>
                    </div>
                    <button type="button" class="button button--primary button--ghost mar--sm--only--ts width--full--sm--only js-feedback-button js-tooltip float--right-left">
                        <span class="juicon juicon-chat"></span> Provide feedback
                    </button>
                </div>
                <!-- Identity section only appears in sf1 -->
                <section id="identity1" class="part">
                    <div class="panel__body pad--sm--bs">
                        <div class="row">
                            <div class="column--md--6">
                                <small class="block dots mar--sm--bxs"><label>Source:</label> Internal</small>
                                <small class="block dots mar--sm--bxs"><label>Applied On:</label> Dec 10, 2015 @ 11:23 AM (<a href="#">2 more</a>)</small>
                                <small class="block dots mar--sm--bxs"><label>Employment:</label> Developer at Appiphony, LLC</small>
                            </div>
                            <div class="column--md--2">
                                <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-list" data-toggle="tooltip" title="Application Rating"></span></label> <span class="text-success">10</span> (out of 10)</small>
                                <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-like" data-toggle="tooltip" title="Positive Interview Feedback"></span></label> 1 Positive</small>
                                <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-dislike" data-toggle="tooltip" title="Negative Interview Feedback"></span></label> 0 Negative</small>
                                <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-question-circle" data-toggle="tooltip" title="Neutral Interview Feedback"></span></label> 0 Neutral</small>
                            </div>
                            <div class="column--md--4">
                                <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-envelope" data-toggle="tooltip" title="Email"></span></label> <a href="#">lynn.shaw@gmail.com</a></small>
                                <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-phone" data-toggle="tooltip" title="Phone"></span></label> Not requested</small>
                                <small class="block dots mar--sm--bxs"><label><span class="juicon juicon-location" data-toggle="tooltip" title="Location"></label> <a href="http://maps.google.com" target="maps">Chicago, IL</a></small>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="button-switch-container pad--sm--m pad--sm--bn">
                    <span class="button-group--collapse button-switch">
                        <div class="button button--success" data-trigger="application" data-group="view">Application</div>
                        <div class="button button--success disabled" data-trigger="resume" data-group="view">Resume</div>
                        <div class="button button--success disabled" data-trigger="linkedin" data-group="view">LinkedIn</div>
                    </span>
                </section>
                <div class="js-application mar--sm--tm">
                    <section id="summary1">
                        <div class="list-heading relative">
                            <h4 class="list-heading__title">Summary</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <p class="mar--sm--tn">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan sed tellus id lobortis. Vestibulum velit est, accumsan non commodo vitae, auctor eget urna. Maecenas nibh ante, vestibulum ut lectus nec, venenatis fringilla dui. Fusce eget enim sollicitudin risus efficitur faucibus. Aenean laoreet justo sed sodales auctor. Pellentesque tincidunt feugiat quam. Nulla sed condimentum nisi, non convallis velit. Aliquam erat volutpat. Sed ut orci quis elit convallis mollis. In sed porttitor nunc, vitae volutpat sem.
                            </p>
                        </div>
                    </section>
                    <section id="application-form1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Application Form</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <p class="mar--sm--tn"><strong>Rating: <span class="text-success">10</span></strong><span class="text-faded"> (out of 10)</span></p>
                        </div>
                        <div class="panel__component">
                            <label>Job Specific Questions</label>
                            <!-- Question -->
                            <article class="card mar--sm--tm mar--sm--bxs">
                                <div class="card__body">
                                    <div><small>Which of the following technologies have you used in a production setting?</small></div>
                                    <div class="mar--sm--txs">HTML; CSS; JavaScript</div>
                                </div>
                            </article>
                            <!-- /Question -->
                            <!-- Question -->
                            <article class="card mar--sm--tm mar--sm--bxs">
                                <div class="card__body">
                                    <div><small>What is your experience level for Apex?</small></div>
                                    <div class="mar--sm--txs">Intermediate</div>
                                </div>
                            </article>
                            <!-- /Question -->
                        </div>
                        <div class="panel__component">
                            <label>General Questions</label>
                            <!-- Question -->
                            <article class="card mar--sm--tm mar--sm--bxs">
                                <div class="card__body">
                                    <div><small>Do you enjoy working in a fast-paced environment?</small></div>
                                    <div class="mar--sm--txs">Yes, sometimes</div>
                                </div>
                            </article>
                            <!-- /Question -->
                            <!-- Question -->
                            <article class="card mar--sm--tm mar--sm--bxs">
                                <div class="card__body">
                                    <div><small>Do you require sponsorship?</small></div>
                                    <div class="mar--sm--txs">No</div>
                                </div>
                            </article>
                            <!-- /Question -->
                        </div>
                    </section>
                    <section id="feedback1">
                        <div class="list-heading relative">
                            <h4 class="list-heading__title">Feedback</h4>
                            <button type="button" class="button button--primary button--ghost width--full js-add-component mar--sm--bm add-button js-reveal-feedback">
                                <span class="juicon juicon-chat"></span> Provide feedback
                            </button>
                        </div>
                        <div class="panel__body pad--sm--bn pad--sm--tn">
                            <article class="mar--sm--bm">
                                <!-- Feedback card -->
                                <div class="card mar--sm--tm js-feedback-card">
                                    <div class="card__body pad--sm--bn">
                                        <div class="form__group">
                                            <label class="">Regarding</label>
                                            <div class="select__wrap">
                                                <div class="input__icon juicon juicon-down"></div>
                                                <select id="regardingSelect1">
                                                    <option value="TF" selected="">Team Fit</option>
                                                    <option value="FO&quot;&quot;">Final Outcome</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="TFcontrols1">
                                            <div class="form__group">
                                                <label class="block required-field">Feedback</label>
                                                <div class="button-group feedbackButtons">
                                                    <button id="likeButton1" class="button button--secondary feedbackButton" data-toggle="tooltip" title="" data-original-title="Thumbs up"><span class="juicon juicon-like"></span></button>
                                                    <button id="dislikeButton1" class="button button--secondary feedbackButton" data-toggle="tooltip" title="" data-original-title="Thumbs down"><span class="juicon juicon-dislike"></span></button>
                                                    <button id="notsureButton1" class="button button--secondary feedbackButton" data-toggle="tooltip" title="" data-original-title="Not sure"><span class="juicon juicon-question-circle"></span></button>
                                                </div>
                                            </div>
                                            <div class="form__group mar--sm--bs">
                                                <label>Comment</label>
                                                <textarea placeholder="Type something here"></textarea>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="panel__body">
                                        <a href="#" class="float--right button button--primary">Save</a>
                                        <a href="#" class="float--right button button--secondary mar--sm--rs js-cancel-feedback">Cancel</a>
                                    </div>
                                </div>
                                <!-- /Feedback card --> 
                                <div class="card mar--sm--tm">
                                    <div class="card__body pad--sm--bn">
                                        <div class="row pad--sm--n" style="height: auto">
                                            <div class="column--md--8">
                                                <div class="part__left--fixed inline-block" style="display: inline-block; position: relative; top:-5px;">
                                                    <div class="juicon juicon-like text-success"></div>
                                                </div>
                                                <div class="part__body--fixed pad--md--bm pad--sm--only--bs pad--sm--bn" style="display: inline-block">
                                                    <h4 class="card__heading dots">Resume Review</h4>
                                                </div>
                                            </div>
                                            <div class="column--md--4 text-right-left mar--sm--only--bm">
                                                <small class="text-faded mar--sm--only--lxl pad--sm--only--lxs pad--sm--only--lxs mar--sm--only--bm" style="line-height: 16px; position: relative; top:-5px;">Mitch B. &bull; Jun 1, 2015</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                    <section id="interview1">
                        <div class="list-heading relative">
                            <h4 class="list-heading__title">Interview</h4>
                            <button type="button" class="button button--primary button--ghost width--full js-add-component mar--sm--bm add-button">
                                <span class="juicon juicon-plus"></span> Add interview
                            </button>
                        </div>
                        <div class="panel__body pad--sm--bn pad--sm--tn">
                            <article class="mar--sm--bm">
                                <div class="card mar--sm--tm">
                                    <div class="card__body">
                                        <div class="mar--sm--bs"><span class="juicon juicon-calendar text-faded mar--sm--rm pad--sm--txs table-cell vertical-align-top"></span><span class="table-cell pad--sm--lm"><a href="#">Tue, Jun 16, 2015 @ 11:00a CDT</a> <span class="text-faded">(and 2 more)</span> <span class="status proposed">Proposed</span></span></div>
                                        <div class="row pad--sm--lxl">
                                            <div class="panel__body column--md--6 pad--sm--tn pad--sm--bn pad--sm--only--bs">
                                                <h4 class="mar--sm--n">Interviewers</h4>
                                                Mitch Bennett
                                            </div>
                                            <div class="panel__body column--md--6 pad--sm--tn pad--sm--bn">
                                                <h4 class="mar--sm--n">Topics</h4>
                                                Perl
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                    <section id="projects1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Projects</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n">TalentObjects 1.0 release</h3>
                                <small class="text-faded">Oct 2014 to Mar 2015</small>
                                <p>
                                    Responsible for the user experience design (UI concepts and task flows) of a recruiting module for a world-class workforce engagement solution.
                                </p>
                                <hr class="hr-alt"/>
                            </article>
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n">ASU Online redesign</h3>
                                <small class="text-faded">Jul 2008 to Feb 2009</small>
                                <p>
                                    Redesigned ASU Online to focus on increasing prospective student enrollments. Implemented ongoing SEO and content strategy plan to continually increase conversions and brand trust.
                                </p>
                                <hr class="hr-alt"/>
                            </article>
                        </div>
                    </section>
                    <section id="recognition1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Recognition</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n"><a href="#">Force.com MVP 2014 (Renewed)</a></h3>
                                <small class="text-faded block">Salesforce.com</small>
                                <small class="text-faded">Jan 1, 2014</small>
                                <p>
                                    The Force.com MVP Program recognizes outstanding contributors and technological leaders in the Force.com cloud platform ecosystems. These Force.com MVPs are being called out for willingly sharing their expertise with others, demonstrating stewardship of the community in which they play an integral part, advancing the community body of knowledge and strengthening the developer network.
                                </p>
                                <hr class="hr-alt"/>
                            </article>
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n"><a href="#">Force.com MVP 2013 (Renewed)</a></h3>
                                <small class="text-faded block">Salesforce.com</small>
                                <small class="text-faded">Jan 6, 2013</small>
                                <p>
                                    The Force.com MVP Program recognizes outstanding contributors and technological leaders in the Force.com cloud platform ecosystems. These Force.com MVPs are being called out for willingly sharing their expertise with others, demonstrating stewardship of the community in which they play an integral part, advancing the community body of knowledge and strengthening the developer network.
                                </p>
                                <hr class="hr-alt"/>
                            </article>
                        </div>
                    </section>
                    <section id="training1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Training and Development</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n"><a href="#">Managing Product Definition and Design</a></h3>
                                <small class="text-faded block">Cooper U</small>
                                <small class="text-faded">Jun 1, 2015</small>
                                <p>
                                    Students walk away knowing how to: communicate business and customer goals in clear, actionable, memorable ways; use narrative to craft a compelling product vision; ensure cross-functional teams understand that vision and how to make decisions in service of it; generate product requirements that are grounded in the best user experience.
                                </p>
                                <hr class="hr-alt"/>
                            </article>
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n"><a href="#">Cranky Talk Workshop for New Speakers</a></h3>
                                <small class="text-faded block">Dan Willis et. al.</small>
                                <small class="text-faded">Aug 22, 2013</small>
                                <p>
                                    Cranky Talk is an intense, day-long workshop for people intent on being exceptional public speakers.
                                </p>
                                <hr class="hr-alt"/>
                            </article>
                        </div>
                    </section>
                    <section id="skills1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Skills</h4>
                        </div>
                        <div class="panel__body">
                            <span class="label label--secondary">Salesforce.com</span> <span class="label label--secondary">Force.com</span> <span class="label label--secondary">Peer Training</span> <span class="label label--secondary">Community Stewardship</span>
                        </div>
                    </section>
                    <section id="publications1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Publications</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n"><a href="#">UX Design on the Salesforce1 Platform</a></h3>
                                <small class="text-faded">May 14, 2015 ● Peachpit Press</small>
                                <p>
                                    A short book on how to design compelling experiences for enterprise apps using the Salesforce1 Platform.
                                </p>
                                <hr class="hr-alt"/>
                            </article>
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n"><a href="#">Design Is a Job</a></h3>
                                <small class="text-faded">April 10, 2012 ● A Book Apart</small>
                                <p>
                                    Ross Belmont wants to help you do your job better. From contracts to selling design, from working with clients to working with each other, you’ll learn why navigating the business of design is just as important as the craft of it. Cultivated from his own experience, Ross packs this brief book with knowledge you can’t afford not to know.
                                </p>
                                <hr class="hr-alt"/>
                            </article>
                        </div>
                    </section>
                    <section id="patents1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Patents</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n"><a href="#">Security device for computers</a></h3>
                                <small class="text-faded block">US5016758 A (USPTO)</small>
                                <small class="text-faded">Feb 7, 2011 (Granted)</small>
                                <p>
                                    A security device for computing devices wherein a strong flexible cable is fastened at one end to a lock, carried on a hanger, or to a bar on a clothing stand, which cable passes through part of the housing and the other end of the cable is detachably secured in the lock to releasably secure the machine.
                                </p>
                            </article>
                        </div>
                    </section>
                    <section id="recommendations1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Recommendations</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <article class="mar--sm--bm">
                                <div class="card">
                                    <div class="card__body">
                                        <p class="mar--sm--n">
                                            “Ross is a talented UX designer, writer, speaker and workshop facilitator. He is also an authentic, generous and thoughtful human being who gives himself fully to the things he is passionate about. As a speaker and writer, his ideas are insightful and his prose is clean, clear and engaging. As a workshop facilitator I’ve never seen anyone better.”
                                        </p>
                                        <div class="text-right">
                                            <a href="#" class="block">
                                                Dave Gray
                                            </a>
                                            Co-founder at Boardthing.com
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="mar--sm--bm">
                                <div class="card">
                                    <div class="card__body">
                                        <p class="mar--sm--n">
                                            “Ross is a highly talented and thoughtful User Experience Designer. He’s able to easily tackle complex information architecture problems, creating user experiences that are intuitive, fun and creative. His humor and collaborative attitude make him a pleasure to work with. I’d be happy to work with him again, given the opportunity.”
                                        </p>
                                        <div class="text-right">
                                            <a href="#" class="block">
                                                John Devoy
                                            </a>
                                            Assistant Vice Provost Digital Marketing Strategy @ ASU Online
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                    <section id="certifications1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Certifications</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n">Force.com Developer</h3>
                                <small class="text-faded block">Salesforce.com (DEV 401)</small>
                                <small class="text-faded">July 2009 to Present</small>
                            </article>
                        </div>
                    </section>
                    <section id="employment1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Employment</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n">Chief Experience Designer</h3>
                                <small class="text-faded block">Appiphony, LLC</small>
                                <small class="text-faded">May 2010 to Present</small>
                                <p>
                                    I am extremely proud to have formalized a design-driven development practice for our ISV clients. My goal in doing so is to bring the best design thinking anywhere to software on the Force.com platform. Appiphony’s leadership and developers understand the benefits good design can bring, and we are doing the best work in our market.
                                </p>
                                <div class="panel__body pad--sm--n">
                                    <div class="row pad--sm--rxxl">
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm mar--md--bm">
                                            <label class="block">Reference Name</label>
                                            John Doe
                                        </div> 
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm mar--md--bm">
                                            <label class="block">Reference Company</label>
                                            IBM
                                        </div>
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm mar--md--bm">
                                            <label class="block">Reference Phone Number</label>
                                            847-555-5555
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-alt"/>
                            </article>
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n">Architect</h3>
                                <small class="text-faded block">EDL Consulting</small>
                                <small class="text-faded">July 2009 - May 2010</small>
                                <p>
                                    EDL Consulting is a national technology services firm specializing in the intelligent integration of eCommerce, CRM and business intelligence solutions to improve business performance. EDL solves the complex systems integration issues behind state-of-the-art technology solutions to make organizations more successful. The solutions EDL builds generate revenue, result in cost savings, promote differentiation and make it easier for clients to do business with their customers.
                                </p>
                                <div class="panel__body pad--sm--n">
                                    <div class="row pad--sm--rxxl mar--md--bm">
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                            <label class="block">Reference Name</label>
                                            None Provided
                                        </div> 
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                            <label class="block">Reference Company</label>
                                            None Provided
                                        </div>
                                    </div>
                                    <div class="row pad--sm--rxxl mar--md--bm">
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                            <label class="block">Reference Phone Number</label>
                                            None Provided
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-alt"/>
                            </article>
                        </div>
                    </section>
                    <section id="education1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Education</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <article class="mar--sm--bn">
                                <div class="mar--sm--bm">
                                    <h3 class="mar--sm--n">University of Illinois at Urbana-Champaign</h3>
                                    <small class="text-faded block">BS, MIS</small>
                                    <small class="text-faded">1996-2000</small>
                                </div>
                                <div class="panel__body pad--sm--n mar--sm--bn">
                                    <div class="row pad--sm--rxxl mar--md--bm">
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                            <label class="block">GPA</label>
                                            3.2
                                        </div> 
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                            <label class="block">Honors &amp; Awards</label>
                                            National Scholar Award
                                        </div>
                                    </div>
                                    <div class="row pad--sm--rxxl mar--md--bm">
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                            <label class="block">Societies</label>
                                            National Society of Collegiate Scholars (NSCS)
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-alt mar--sm--tn"/>
                            </article>
                            <article class="mar--sm--bn">
                                <div class="mar--sm--bm">
                                    <h3 class="mar--sm--n">University of Illinois at Urbana-Champaign</h3>
                                    <small class="text-faded block">BS, MIS</small>
                                    <small class="text-faded">1996-2000</small>
                                </div>
                                <div class="panel__body pad--sm--n mar--sm--bn">
                                    <div class="row pad--sm--rxxl mar--md--bm">
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                            <label class="block">GPA</label>
                                            None Provided
                                        </div> 
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                            <label class="block">Honors &amp; Awards</label>
                                            None Provided
                                        </div>
                                    </div>
                                    <div class="row pad--sm--rxxl mar--md--bm">
                                        <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                            <label class="block">Societies</label>
                                            None Provided
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-alt mar--sm--tn"/>
                            </article>
                        </div>
                    </section>
                    <section id="languages1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Languages</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <ul class="mar--sm--tn pad--sm--lm">
                                <li>English (Native or bilingual proficiency)</li>
                                <li>Japanese (Elementary proficiency)</li>
                                <li>Spanish (Limited working proficiency)</li>
                            </ul>
                        </div>
                    </section>
                    <section id="volunteering1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Volunteering</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <article class="mar--sm--bm">
                                <h3 class="mar--sm--n">CASA of Kane County</h3>
                                <small class="text-faded">Board Member</small>
                                <p>
                                    CASA Kane County recruits, trains and supervises community volunteers who serve as Court Appointed Special Advocates (CASAs) for children in court due to abuse, neglect or private guardianship.
                                </p>
                                <hr class="hr-alt"/>
                            </article>
                        </div>
                    </section>
                    <section id="contact-information1">
                        <div class="list-heading">
                            <h4 class="list-heading__title">Contact Information</h4>
                        </div>
                        <div class="panel__body pad--sm--bn">
                            <div class="row pad--sm--rxxl mar--md--bm">
                                <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                    <label class="block">First Name</label>
                                    Freddie
                                </div> 
                                <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                    <label class="block">Last Name</label>
                                    George
                                </div>
                            </div>
                            <div class="row pad--sm--rxxl mar--md--bm">
                                <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                    <label class="block">Email</label>
                                    <a href="mailto:freddie.george@gmail.com">freddie.george@gmail.com</a>
                                </div> 
                                <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                    <label class="block">Mobile Phone</label>
                                    847-555-5555
                                </div>
                            </div>
                            <div class="row pad--sm--rxxl mar--md--bm">
                                <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                    <label class="block">Street Address</label>
                                    318 West Adams St.
                                </div> 
                                <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                    <label class="block">City</label>
                                    Chicago
                                </div>
                            </div>
                            <div class="row pad--sm--rxxl mar--md--bm">
                                <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                    <label class="block">State/Province</label>
                                    IL
                                </div> 
                                <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                    <label class="block">Zip/Postal Code</label>
                                    60606
                                </div>
                            </div>
                            <div class="row pad--sm--rxxl mar--md--bm">
                                <div class="column--sm--6 column--xs--only--12 pad--sm--only--bm">
                                    <label class="block">Country</label>
                                    United States
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="js-resume hide">
                    <section id="resume1">
                        <div class="panel__body pad--sm--bs">
                            <iframe src="https://na24.salesforce.com/sfc/p/1a000000H6T7/a/1a000000KzDp/m5PDZy3HBGd2uEe2Vyyf5FQHQFj7Sy_4STJ5M8O5nV8"></iframe>
                        </div>
                    </section>
                </div>
                <div class="js-linkedin hide">
                    <section id="linkedin1">
                        <div class="panel__body pad--sm--bs">
                            <img src="../docs/linkedin-csa.png">
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>