<div aria-hidden="false" aria-labelledby="gettingStartedModal" class="modal fade in" id="gettingStartedModal" role="dialog" tabindex="-1">
    <div class="modal__shell big-modal">
        <div class="modal__content">
            <div class="modal__top pad--sm--xl pad--sm--bn">
                
                <h2 class="modal__heading text-center">
                    Getting started
                </h2>
            </div>
            <div class="panel__body pad--sm--xl">
                <article class="pad--sm--bm">
                    <div class="part__left">
                        <img src="https://dl.dropboxusercontent.com/u/43912228/_TO/app/design/interview%20help/1.png" width="128">
                    </div>
                    <div class="part__body vam">
                        To get started, find one or more people that will meet with the candidate for this specific interview.
                    </div>
                </article>
                <article class="pad--sm--bm">
                    <div class="part__left">
                        <img src="https://dl.dropboxusercontent.com/u/43912228/_TO/app/design/interview%20help/2.png" width="128">
                    </div>
                    <div class="part__body vam">
                        Interviewer availability will be displayed on the calendar, where you can select up to five potential time slots for the interview.                            </div>
                </article>
                <article class="pad--sm--bm">
                    <div class="part__left">
                        <img src="https://dl.dropboxusercontent.com/u/43912228/_TO/app/design/interview%20help/3.png" width="128">
                    </div>
                    <div class="part__body vam">
                        When you’re done, the applicant will be sent a link to a page where they can choose which time works best for them. Calendar invites will be sent to all participants after the applicant confirms.
                    </div>
                </article>
            </div>
            <div class="modal__footer pad--sm--tn">
                <div class=" text-center">
                    <button class="button button--primary js-save" data-dismiss="modal" type="button">Got it</button>
                </div>
            </div>
        </div>
    </div>
</div>