<div aria-hidden="false" aria-labelledby="googleMapsModalLabel" class="modal fade in" id="googleMapsModal" role="dialog" tabindex="-1">
    <div class="modal__shell big-modal">
        <div class="modal__content">
            <div class="modal__top">
                <button class="close" data-dismiss="modal" type="button">
                    <span class="close-modal-x"></span><span class="sr-only">Close</span>
                </button>
                <h2 class="modal__heading">
                    Search for a location
                </h2>
            </div>
                <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
                <div id="map-canvas" style="height:300px;"></div>
            <div class="modal__footer">
                <button id="center-button" class="button button--secondary" type="button">My Location</button>
                <button {{bind-attr class=":button :button--primary disableLocationSave:disabled"}} data-dismiss="modal" type="button" {{action "clickSelectGoogleLocation"}}>Select location</button>
            </div>
        </div>
    </div>
</div>