<div class="modal fade" id="sendCalendarInvitationsModal" tabindex="-1" role="dialog" aria-labelledby="discardModalLabel" aria-hidden="true">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="close-modal-x"></span><span class="sr-only">Close</span>
                </button>
                <h2 class="modal__heading" id="myModalLabel">Send Calendar Invitations</h2>
            </div>
            <div class="modal__body">
                Since you've only chosen one time slot, calendar invitations will be sent to all participants now. The applicant does not need to offer their availability and confirm. 
            </div>
            <div class="modal__footer">
                <button type="button" class="button button--secondary js-cancelSendInvitations" data-dismiss="modal">Cancel</button>
                <button type="button" class="button button--primary js-confirmSendInvitations" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>