<div aria-hidden="false" aria-labelledby="topicsChangedModal" class="modal fade in" id="topicsChangedModal" role="dialog" tabindex="-1">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top pad--sm--bn">
                <button class="close" data-dismiss="modal" type="button" {{action "clickCancelModal"}}>
                    <span class="close-modal-x"></span><span class="sr-only">Close</span>
                </button>
                <h2 class="modal__heading">
                    Interviewers will be notified of topic change
                </h2>
            </div>
            <div class="panel__body pad--sm--xl">
                <p>
                    The interviewers will be notified by email that the discussion topics have changed, though their calendar invitations will not be affected.
                </p>
            </div>
            <div class="modal__footer pad--sm--tn">
                <button class="button button--primary js-confirmSendTopicsChanged" data-dismiss="modal" type="button">OK</button>
            </div>
        </div>
    </div>
</div>