<div class="panel__body pad--sm--bn">
    <div class="form__group">
        <label for="summary-text">Summary Text</label>
        {{textarea value=tempObj.Summary__c}}
        <small class="input-error-content">Error.</small>
    </div>
</div>