<div class="panel__body pad--sm--bn">
    <div class="form__group">
        <label for="summary-text">Summary Text</label>
        <textarea id="summary-text" name="summary-text" placeholder="Textareas are fun">This is typically a paragraph or two that gives an overview of the person’s value as an employee. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</textarea>
        <small class="input-error-content">Error.</small>
    </div>
</div>