<div class="slds-tile slds-tile--board">
    {{application.First_Name__c}} {{application.Last_Name__c}}
    <small class="slds-show to-va-sort-info slds-p-top--xx-small">{{labels.appliedOn}}: {{formatDate application.Applied_On__c}}</small>
</div>