<div class="slds-grid slds-grid--align-center slds-p-top--xx-large">
	<div class="slds-spinner--large">
	 	<img src="{{unbound assetsLocation}}/assets/images/spinners/slds_spinner.gif" alt="Loading..." />
	</div>
</div>