<a class="twitter-timeline"
   width="100%"
   height="300"
   href="https://twitter.com/salesforcejobs"
   data-widget-id="565570508859916289"
   data-chrome="noheader nofooter"
   data-border-color="#dadee2">
    Tweets by @salesforcejobs
</a>