<div data-qa-container="appliedOnFilter">
    {{aljs-multi-datepicker selectedStartDate=appliedFrom selectedEndDate=appliedTo format="MM/DD/YYYY" data-qa-startDate-input="appliedFrom" data-qa-endDate-input="appliedTo"}}
</div>