<div class="slds-form-element__row slds-clearfix" data-qa-container="stageAndStatusFilter">
    <div class="slds-form-element__row slds-clearfix">
        <label class="slds-form-element__control slds-float--left slds-size--1-of-2">
            <div class="slds-form-element">
                <label class="slds-form-element__label slds-show" for="stage" data-qa-label="stage">{{labels.stage}}</label>
                {{view "select" class="slds-select" content=applicationStages value=stage data-qa-select="stage"}}
            </div>
        </label>
        <label class="slds-form-element__control slds-col slds-size--1-of-2">
            <div class="slds-form-element">
                <label class="slds-form-element__label slds-show" for="status" data-qa-label="status">{{labels.status}}</label>
                {{view "select" class="slds-select" content=applicationStatuses value=status data-qa-select="status"}}
            </div>
        </label>
    </div>
</div>