<div data-qa-container="stageAndStatusFilter">
    <div class="mar--sm--bm">
        <div class="form-group">
            <label data-qa-label="stage">{{labels.stage}}</label>
            <div class="select__wrap">
                <div class="input__icon juicon juicon-down"></div>
                {{view "select" content=applicationStages value=stage data-qa-select="stage"}}
            </div>
        </div>
    </div>
    <div class="mar--sm--bn">
        <div class="form-group">
            <label data-qa-label="status">{{labels.status}}</label>
            <div class="select__wrap">
                <div class="input__icon juicon juicon-down"></div>
                {{view "select" content=applicationStatuses value=status data-qa-select="status"}}
            </div>
        </div>
    </div>
</div>