<div class="scope-container brand__border-accent--top" style="border-top-color: #cf5c60">
    <div class="modal fade in" id="pleaseLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal__shell">
            <div class="modal__content">
                <div class="modal__top">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="close-modal-x"></span><span class="sr-only">Close</span>
                    </button>
                    <h2 class="modal__heading" id="myModalLabel">Please login to save this job</h2>
                </div>
                <div class="modal__body">
                    You’ll need to register or log in to save this job. Would you like to do that now?</div>
                <div class="modal__footer">
                    <button type="button" class="button button--secondary" data-dismiss="modal">Cancel</button>
                    <button id="modalOk"  type="button" class="button button--primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>