<div aria-hidden="true" aria-labelledby="privateMessageLabel" class="modal fade" id="privateMessageModal" role="dialog" tabindex="-1">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top">
                <button class="close" data-dismiss="modal" type="button">
                    <span class="close-modal-x"></span><span class="sr-only">Close</span>
                </button>
                <h2 class="modal__heading" id="myModalLabel">Private Message </h2>
            </div>
            <div class="modal__body">
                <div class="form__group">
                    <p class="mar--sm--tn">
                        Send a private message to {{messageRecepient}} about this job posting.
                    </p>
                    <label class="sr-only" for="privateMessage">Private Message</label>
                    {{textarea id=privateMessage type="text" value=messageContent}}
                </div>
            </div>
            <div class="modal__footer">
                <button class="button button--primary" data-dismiss="modal" type="button" id="modalSend">Send</button>
            </div>
        </div>
    </div>
</div>





