<div class="list-heading">
    <h4 class="list-heading__title" data-qa-label="heading">{{labels.heading}}</h4>
</div>
<div class="panel__body">
    <div class="form__group mar--sm--bn">
    	{{input class="elementInput" type="text" placeholder=labels.typeYourHeadingHere value=model.Text__c maxlength="1000" data-qa-input="heading"}}
    </div>
</div>