<div {{bind-attr class=":snack-bar__container showSavingNotification::hide :saveWorkAlert"}} data-qa-banner="saving">
    <div class="snack-bar">
        <span class="saveText"><span class="juicon juicon-loading spin-it"></span> {{labels.saving}}</span>
    </div>
</div>