<label class="table-group mar--sm--bs">
    <span class="table-group__object--small">
        {{input type="checkbox" checked=isEnabled data-qa-input="enabled"}}
    </span>
    <span class="table-group__object--large" data-qa-label="enabled">{{labels.resume}}</span>
</label>

<label class="table-group mar--sm--bs">
	<span class="table-group__object--small">
		{{input type="checkbox" checked=professionalSummary data-qa-input="professionalSummary"}}
	</span>
	<span class="table-group__object--large" data-qa-label="professionalSummary">{{labels.professionalSummary}}</span>
</label>