<label class="table-group mar--sm--bs">
    <span class="table-group__object--small">
        {{input type="checkbox" checked=isEnabled data-qa-input="enabled"}}
    </span>
    <span class="table-group__object--large" data-qa-label="enabled">{{labels.enabled}} HERE </span>
</label>