<div class="column--md--6">
    <div {{bind-attr class=":form__group isHistorySection:mar--sm--bm"}}>
        <label for="firstName" class="required-field">
            {{field.label}}
            {{#if field.helpText}}
                <span data-toggle="tooltip" data-placement="bottom" title="{{unbound field.helpText}}" class="has-tooltip juicon juicon-info-circle" data-qa-label="helpText"></span>
            {{/if}}
        </label>
        {{input type="tel" value=field.value data-qa-input="tel"}}
        <small class="input-error-content">Error</small>
    </div>
</div>
