<div class="modal fade" id="verifyUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top">
                <h2 data-qa-label="modalHeader" class="modal__heading" id="myModalLabel">Good news!</h2>
            </div>
            <div class="modal__body">
                <p data-qa-label="modalBody" class="mar--sm--tn">
                    We can save you time and start with some information we already have. You'll need to login to continue, or you can fill out this form without help.
                </p>
                
            </div>
            <div class="modal__footer">
                <button data-qa-button="noThanks" type="button" class="button button--secondary" data-dismiss="modal" {{action "clickNo"}}>No thanks</button>
                <button id="modalOk" data-qa-button="yesLogIn" type="button" class="button button--primary theme-bg-color" data-dismiss="modal" {{action "clickLogin"}}>Yes, log in</button>
            </div>
        </div>
    </div>
</div>