<div class="wizardSection pad--sm--only--n" data-qa-container="jobSpecific">
    <h1 class="text-left-center page__heading pad--sm--tm pad--md--tn pad--sm--bm" data-qa-header="jobSpecific">{{labels.jobSpecific}}</h1>
    {{#if errorMessage}}
        {{partial "errorAlert"}}
    {{/if}}
    {{partial "formElements"}}
</div>