<div id="legallyRequired" class="wizardSection pad--sm--only--n">
    <h1 class="text-left-center page__heading pad--sm--tm pad--md--tn pad--sm--bm">{{labels.legallyRequired}}</h1>
    {{#if errorMessage}}
        {{partial "errorAlert"}}
    {{/if}}
    {{partial "formElements"}}
</div>