<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal__shell">
        <div class="modal__content">
            <div class="modal__top">
                <!--<button type="button" class="close" data-dismiss="modal">-->
                    <!--<span class="close-modal-x"></span><span class="sr-only">Close</span>-->
                <!--</button>-->
                <h2 class="modal__heading" id="myModalLabel">Before you begin...</h2>
            </div>
            <div class="modal__body">
                <p class="mar--sm--tn">Please confirm the location where you'd prefer to work.</p>
                <div class="form__group">
                    <div class="select__wrap">
                        <div class="input__icon juicon juicon-down"></div>
                        <select>
                            <option>San Francisco, CA (Closest)</option>
                            <option>Boston, MA</option>
                            <option>London, GB, UK</option>
                            <option>Remote</option>
                            <option>Chicago, IL</option>
                            <option>Vancouver, BC, CA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal__footer">
                <button id="modalOk" type="button" class="button button--primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>