<div class="scope-container">
    <div class="content pad--md--ts pad--sm--only--n pad--sm--tm">
        <div class="content__section">
            <div class="load-block">
                <div class="load-block-icon"></div>
            </div>
        </div>
    </div>
</div>